<div class="content">
    <h1>{% trans %}Rules{% endtrans %}</h1>
    {% trans %}Here's a quick overview of the rules of <a href="https://en.wikipedia.org/wiki/Boggle" target="_blank">Boggle</a>.{% endtrans %}
    <h2>{% trans %}Forming words{% endtrans %}</h2>
    <p>
    {% trans trimmed %}
        The goal is to string together adjacent letters in the Boggle grid to form words.
        You're allowed to move in any direction, including diagonally, and changing direction midway is of course also fine.
        However, you're not allowed to visit the same grid cell twice to form a word!
    {% endtrans %}
    </p>
    <p>{% trans %}Here's an example:{% endtrans %}</p>
</div>
<div class="columns">
    <figure class="column">
        <table class="boggle-grid" translate="no">
            <tr><td data-order="1">T</td><td data-order="2">E</td><td>X</td><td>X</td></tr>
            <tr><td data-order="3">S</td><td data-order="4">T</td><td>X</td><td>X</td></tr>
            <tr><td>X</td><td>X</td><td>X</td><td>X</td></tr>
            <tr><td>X</td><td>X</td><td>X</td><td>X</td></tr>
        </table>
        <figcaption class="has-text-success has-text-centered">
            <span class="fas fa-check"></span>
            {# i18n: Example in rules #}
            {% trans %}OK{% endtrans %}
        </figcaption>
    </figure>
    <figure class="column">
        <table class="boggle-grid" translate="no">
            <tr><td data-order="1,4">T</td><td data-order="2">E</td><td>X</td><td>X</td></tr>
            <tr><td data-order="3">S</td><td>T</td><td>X</td><td>X</td></tr>
            <tr><td>X</td><td>X</td><td>X</td><td>X</td></tr>
            <tr><td>X</td><td>X</td><td>X</td><td>X</td></tr>
        </table>
        <figcaption class="has-text-danger has-text-centered">
            <span class="fas fa-times"></span>
            {# i18n: Example in rules #}
            {% trans %}Not allowed{% endtrans %}
        </figcaption>
    </figure>
</div>
<div class="content">
    <h2>{% trans %}Scoring{% endtrans %}</h2>
    <p>
    {% trans trimmed duration=default_round_duration|format_timedelta %}
        A Boggle round lasts {{ duration }} by default.
        You compete against the other players in your session, who'll also be looking for words in the same grid.<br/>
        Generally speaking, more and longer words = more points.
    {% endtrans %}
    </p>
    <p>{% trans %}The basic score per word is shown below.{% endtrans %}</p>
</div>
{# Bulma table centering doesn't work out of the box. Also text centering is weird in tables due to specificity issues, so we just stick it in a style="" tag #}
<table class="table is-striped" style="margin-left: auto; margin-right: auto;">
    <thead>
    <tr>
        <th style="text-align: center;">
            {# i18n: scoring rules #}
            {% trans %}Length{% endtrans %}
        </th>
        <th style="text-align: center;">
            {# i18n: scoring rules #}
            {% trans %}Value{% endtrans %}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for length, score in base_score_values %}
        <tr>
            <td style="text-align: center;">
                {% if loop.first %}&leq;{% elif loop.last %}&geq;{% endif %}
                {{ length }}
            </td>
            <td style="text-align: center;">{{ score }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="content">
    <p>
    {% trans trimmed %}
        When calculating player scores, the following additional rules are taken into account.
    {% endtrans %}
    </p>
    <ol>
    <li>
        {% trans trimmed %}
            Words that can't be found in the dictionary won't earn you any points.
            However, the session leader can <a href="#score-area-help">approve</a> words if necessary.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed %}
            Any word found by multiple players doesn't count, unless the session was started with <i>mild scoring rules</i> enabled (see below).
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed %}
            The letter Q can also be used as QU.
            In the latter case, it is counted as two letters for scoring purposes.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed %}
            The player with the longest word gets <b>double</b> points for all words of that length.
            However, if the longest word is tied between multiple players, no extra points are awarded.
            For the purposes of this rule, only <i>valid, non-duplicate</i> words are counted.
        {% endtrans %}
        {% trans trimmed %}
            This is easier to understand with an example: if player A and player B both found the same seven-letter word, but player A is the only one with a valid six-letter word, player A gets the bonus for their six-letter word.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed %}
            Under <i>mild scoring rules</i>, the score multiplier system is organised slightly differently.
            In this case, duplicate words still award points, and unique words award double points.
            The multiplier for having the unique word of maximal length is increased to three.
        {% endtrans %}
    </li>
    </ol>
    <h1>{% trans %}Controls{% endtrans %}</h1>
    <h2>{% trans %}Start screen{% endtrans %}</h2>
    <p>
    {% trans trimmed %}
        First, choose an username. Your username is bound to the game session, so picking a unique one isn't that important.<br>
        You can then do either of two things.
    {% endtrans %}
    </p>
    <ul>
        <li>
            <b>{% trans %}Start a new session:{% endtrans %}</b> {% trans trimmed %}
            If you'd like to start a new session, pick a <i>dice configuration</i> and a <i>dictionary</i>.
            The dictionary (obviously) determines which words are considered valid, but the choice of dice configuration can also be important: the distribution of the letters of the alphabet is different from one language to the next, so it helps to choose a matching dice configuration.
            {% endtrans %}
        </li>
        <li>
            <b>{% trans %}Join an existing session:{% endtrans %}</b> {% trans trimmed %}
            If you'd like to join an existing session set up by someone else, simply paste the <a href="#management-console-help">session invitation token</a> into the text box and click "Start".
            {% endtrans %}
        </li>
    </ul>
    <h2>{% trans %}Game screen{% endtrans %}</h2>
    <h3>{% trans %}Boggle area{% endtrans %}</h3>
    <p>
    {% trans trimmed %}
        Here, you see the currently active Boggle grid.
        During a Boggle round, you can enter words by clicking/touching letter cells in the grid, or simply by typing them into the input box directly
    {% endtrans %}
    </p>
    <p>
    {% trans trimmed %}
        The round ends by when the timer reaches zero; the words you selected are then submitted to the server for scoring.
    {% endtrans %}
    </p>
    <p>
    {% trans trimmed %}
        The right column contains a list of all players in the session, together with their total scores (if applicable).
    {% endtrans %}
    </p>
    {# TODO perhaps separate these into more specific help modals? Dunno if it really matters #}
    <h3 id="score-area-help">{% trans %}Score area{% endtrans %}</h3>
    <p>
    {% trans trimmed %}
        Below the game grid, a detailed score breakdown will appear after every round.
        The words are colour-coded as follows:
    {% endtrans %}
        <span class="tag is-success">{% trans %}Valid{% endtrans %}</span>,
        <span class="tag is-info">{% trans %}Duplicate{% endtrans %}</span>,
        <span class="tag is-danger">{% trans %}Not in dictionary{% endtrans %}</span>,
        <span class="tag is-dark">{% trans %}Not in grid{% endtrans %}</span>.
    {% trans trimmed %}
        Words that do not occur in the dictionary but are otherwise valid can be <i>manually approved</i> by the session leader, by clicking on them and selecting "Approve".
    {% endtrans %}
    </p>
    <h3 id="management-console-help">{% trans %}Management console{% endtrans %}</h3>
    <p>
        {% trans trimmed %}
            This area is only visible to the session leader.
            It contains a text field with a <i>session invitation token</i>&mdash;which other players will need to join&mdash;and an <i>announcement timer</i>.
            Clicking the "Announce" button will broadcast a countdown to all players in the session, and start the next round after the specified number of seconds has elapsed.
            This can also be used to interrupt the current round, e.g. because the current grid is too difficult.
        {% endtrans %}
    </p>
</div>
